
<!--<div id="app">-->
<!--<a (click)="toggle()" class="launch icon item">
    <i class="content icon"></i>
    <p style="padding-left:1em">Know More</p>
  </a>-->
<!--<div class="ui right sidebar vertical menu" style="margin-top:53px; width: 240px; height:100%; background-color:transparent;">
    <a class="item"></a>
    <a class="item">Our Vision</a>
    <a class="item">Expertise</a> 
    <a class="item">Process</a>
</div>
<div class="pusher">
  <a (click)="toggle()" class="launch icon item">
    <i class="content icon"></i>
    <p>Know More</p>
  </a>
</div>
</div>-->