.ui{
    background-color: transparent;
  }
  
/*.pushable>.pusher {
  
  background-image: url('/src/assets/abc1.jpg') no-repeat center;
  background-size: cover;
  background-position: top center;
  }*/


