<div class="ui borderless stackable container fixed menu">
  <div class="item">
    <img src="assets/logo4.jpg">
  </div>
 <!--<li class="nav-item active">
    <a class="nav-link pr-3 navbar-light" routerLink="home" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{ exact: true }">Home</a>
</li>
<li class="nav-item">
    <a class="nav-link pr-3" routerLink="skills" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{ exact: true }">Skills</a>
</li>
<li class="nav-item">
        <a class="nav-link pr-3" routerLink="demoproject" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{ exact: true }">Demo Project</a>
</li>-->
  <a class="item" routerLink="home" routerLinkActive="active-link" [routerLinkActiveOptions]="{ exact: true }">Home</a>
  <a class="item" routerLink="who-we-are" routerLinkActive="active-link" [routerLinkActiveOptions]="{ exact: true }">Who We Are</a>
  <a class="item" routerLink="what-we-do" routerLinkActive="active-link" [routerLinkActiveOptions]="{ exact: true }">What We Do</a>
  <a class="item" *ngIf="isHomeRouteActivated()" routerLink="join-our-team" routerLinkActive="active-link" [routerLinkActiveOptions]="{ exact: true }">Join Our Team</a>
  <a class="item" *ngIf="router.url === '/who-we-are'" routerLink="contact" routerLinkActive="active-link" [routerLinkActiveOptions]="{ exact: true }">Contact Us</a>
</div>

<!--<div class="ui visible left sidebar inverted vertical menu" style="margin-top:64px !important;display:block; width: 240px; height:91% !important;">
    <div style="margin-top:10%; color:white;">
        
            <img class="ui circular image" height="70px" src="https://www.tsafindia.org/assets/images/signin.png" style="margin-top:2%" width="70px">
            <h4>Badan Eksekutif Mahasiswa<br>
            bem@gmail.com</h4>
        
    </div><br>
    <hr>
    <a class="item"><i class="home icon"></i> Verifikasi Event</a> <a class="item"><i class="home icon"></i> Pengajuan Event</a> <a class="item"><i class="log out icon"></i> Log Out</a>
</div>-->

   
